@import "styles/custom.scss";

@media only screen and (max-width: $mobileBreakpoint) {
    .task-creation-page {
        align-items: initial !important;
    }
}

.task-creation-page {
    align-items: center;

    .type-selector-container {
        .type-item {
            border-bottom: solid 2px rgba(0,0,0,0);
            cursor: pointer;

            &.active {
                border: solid 2px $secondary;
            }
            &:hover {
                border-bottom: solid 2px $secondary;
            }
        }
    }

    .day-label {
        width: 42px;
    }
}